@page "/Admin/Courses"
@using Common.Utilities
@layout AdminLayout
@inject IAdminCourseService Service

@if (Courses is null)
{
    <DisplaySpinner />
}
else
{
    <div class="overflow-x-auto px-12">
        <a href="/Admin/Courses/Create" class="btn btn-outline mb-10">
            <span><PlusIcon class="h-5 w-5"/></span>
            <span>ایجاد</span>
        </a>
        <table class="table">
            <!-- head -->
            <thead>
            <tr>
                <th>عنوان</th>
                <th>وضعیت</th>
                <th>قیمت</th>
                <th>توضیحات</th>
                <th>مدرس</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var course in Courses)
            {
                <tr>
                    <CourseTrItem OnDelete="DeleteHandler" Course="course"/>
                </tr>
            }
            </tbody>

        </table>
    </div>
}

@code {
    private IEnumerable<CourseResDto>? Courses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Courses = await Service.Get();
    }

    void DeleteHandler(int id)
    {
        Courses = Courses!.Where(c => !c.Id.Equals(id));
    }

}