@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <AdminMenu/>
    </div>

    <main class="min-h-screen pt-36 px-20">
        <article>
            @Body
        </article>
    </main>
</div>