<div class="bg-neutral text-neutral-content">
  <footer class="footer p-10 ">
    <div>
      <img class="w-12 h-12" src="images/logo-white.png" alt="log">
      <p>شهر مجازی الماس.<br/>تحت نظارت گروه مشاورین برتر جوان</p>
    </div> 
    <div>
      <span class="footer-title">خدمات</span> 
      <a class="link link-hover">بیمه</a> 
      <a class="link link-hover">آموزش</a> 
      <a class="link link-hover">خدمات</a> 
      <a class="link link-hover">محصولات</a>
    </div> 
    <div>
      <span class="footer-title">شرکت</span> 
      <a class="link link-hover">درباره ما</a> 
      <a class="link link-hover">ارتباط با ما</a> 
      <a class="link link-hover">مشتریان وفادار</a> 
      <a class="link link-hover">قوانین</a>
    </div> 
    <div>
      <span class="footer-title">لینک های مفید</span> 
      <a class="link link-hover">چگونه کسب درآمد کنیم؟</a> 
      <a class="link link-hover">استخدام</a> 
    </div>
  </footer>
  <div class="pb-5">
    <p class="text-sm font-light">© تمامی حقوق این وبسایت نزد گروه مشاوران برتر جوان محفوظ بوده و با کپی کنندگان این اثر بنا به قوانین جرایم رایانه ای جمهوری اسلامی ایران (ماده 1 ،12 و 25) برخورد خواهد شد.</p>
  </div>
</div>