@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main class="min-h-screen">
        <article>
            @Body
        </article>
    </main>
</div>
<footer class="pt-20">
    <Footer></Footer>
</footer>

@code {
    
}