@page "/AboutUs"
<section class="pt-10">
    <div id="about" class="relative bg-white overflow-hidden mt-16">
        <div class="max-w-7xl mx-auto">
            <div class="z-10 pb-8 bg-white sm:pb-16 md:pb-20 w-full lg:pb-28 xl:pb-32">
                <div class="pt-1"></div>
    
                <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                    <article class="sm:text-center lg:text-right prose max-w-none">
                        <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                            درباره ما
                        </h2>
    
                        <p>
                            بیمه تجارت نو با کد ۱۸۰۹ با همکاری و مشارکت هلدینگ جامع ایران مرسین و پیشینه چندین ساله در اسفند ماه سال ۱۳۹۸ با هدف فرهنگ سازی بیمه ای و گسترش کسب و کار و درآمدزایی، باشگاه مشتریان خود را در قالب باشگاه الماس تاسیس و معرفی نمود. این باشگاه با بهره‌گیری از متد روز دنیا، تجارب اساتید برجسته، همکاری جوانان مستعد، متخصص و متعهد، و براساس ضوابط و چارچوب‌های تعیین شده، فعالیت خود را در زمینه‌های مختلف برگزار نموده که به حمدا… تا به امروز پیشرفت قابل قبولی داشته و توانسته همکاری خوبی با سازمانها ، موسسات و شرکتهایی همچون :
                        </p>
                        <p>
                            استانداری یزد ، شرکت کشتیرانی آتشپا ، شرکت باربری ماموت ، شرکت پاکشو ، اتباع امور خارجه ، سازمان ملی جوانان ، ستاد بحران استان ، فرمانداریهای یزد ، تفت و صدوق ، اداره صنایع ، کانون بازنشستگان کشوری ، شرکت مواد لبنی کشاورز هشتگرد ، شرکت لبنیات کولاک تهران ، شرکت لبنیات فرآور نوشا کیان البرز، شرکت پروفیل یزد ، شرکت حدید گستر ، مجتمع ستاره یزد ، صنف کارگران گچکاراستان یزد ، شرکت خوشریس ، سیمان آزادگان ، شرکت عمرانی راه آهن جنوب کشور ، شرکت رانین صنعت ، شرکت مجمر کاشانه ، مجموعه ورزشی کارگران ، شرکت سیمان آزادگان ، شرکت بنیان سلامت پاسارگاد ، شرکت پیشگامان درمان توحید و … داشته باشد.
                        </p>
                        <p>
                            در ضمن در ادامه بشرح مختصری از فعالیت ها این گروه در زمینه های موفقیت اشاره شده است :
                        </p>
                        <ul>
                            <li>ستاد بحران استان یزد (کارگاه آموزشی بیمه‌ای، راهکارهای پیشگیری از خطر و مدیریت خسارت)</li>
                            <li>پارک علم و فن‌آوری (برگزاری سمینار و کارگاه تخصصی با موضوعیت موفقیت در کسب و کار)</li>
                            <li>پارک علم و فن‌آوری (برگزاری سمینار و کارگاه تخصصی با موضوعیت برندسازی در بازار)</li>
                            <li>پارک علم و فن‌آوری (برگزاری سمینار و کارگاه تخصصی با موضوعیت بازاریابی و بازارسازی هدفمند)</li>
                            <li>پارک علم و فن‌آوری (برگزاری سمینار و کارگاه تخصصی با موضوعیت بهبود سیستم ارائه، فروش و مشتری‌مداری)</li>
                            <li>کانون پرورش فکری کودکان و نوجوانان (کارگاه آموزشی شادی و موفقیت، شناخت و مقابله با خطر سیل و زلزله)</li>
                            <li>شرکت بیمه سامان (کارگاه آموزشی بازاریابی و بازارسازی هدفمند)</li>
                            <li>آموزش و پرورش (کارگاه موفقیت و هدفمندسازی اندیشه‌های مثبت در آموزشگاههایی نظیر مدرسه سید کاظم حسینی، دبیرستان اویسی، دبیرستان برازنده مقدم (۱)، دبیرستان برازنده مقدم (۲) و …)</li>
                            <li>پژوهش‌سرای برازنده مقدم (برگزاری چندین دوره بلند مدت در زمینه‌های موفقیت تحصیلی، خانوادگی، شادی سازی ذهن، تحکیم روابط خانوادگی و …)</li>
                            <li>پژوهش‌سرای برازنده مقدم (برگزاری سمینار و کارگاه تخصصی با موضوعیت تحکیم روابط والدین و فرزندان)</li>
                            <li>پژوهش‌سرای برازنده مقدم (برگزاری سمینار و کارگاه تخصصی با موضوعیت شناخت، بررسی و مدریت آسیب‌های شبکه‌های مجازی)</li>
                            <li>پارک علم و‌ فن‌آوری (برگزاری‌سمینار وکارگاه تخصصی‌با موضوعیت ترویج‌فرهنگ شعر وادب وتاثیرآن در زندگی)</li>
                            <li>پژوهش‌سرای برازنده مقدم با مشارکت شرکت بیمه سرمد (برگزاری سمینار و کارگاه تخصصی با موضوعیت آرامش در زندگی، با هدف فرهنگ‌سازی بیمه‌ای)</li>
                            <li>سالن تربیت معلم پاکنژاد با مشارکت کانون هموفیلی استان، استانداری یزد، مرکز توسعه اقتصادی ایثارگران استان و شرکت بیمه آرمان (برگزاری همایش هموفیلی استان با هدف شناسایی و مقابله با بیماری هموفیلی و تاثیرات ذهن بر روند بهبود بیماری)</li>
                            <li>سالن تربیت‌ معلم پاکنژاد (برگزار سمینار و کارگاه موفقیت با حضور و همراهی جناب دکتر علیرضا آزمندیان)</li>
                            <li>سالن رسولیان ( برگزار سمینار و کارگاه موفقیت به حضور و همراهی اسستاد دکتر مرتضی احمدی منش )</li>
                            <li>پارک علم وفن آوری ( برگزاری‌سمینار وکارگاه تخصصی‌با موضوعیت بازاریابی و بازارسازی حرفه ای و هوشمندانه بر اساس علم زبان بدن ) با همکاری شرکت بنیان سلامت پاسارگاد</li>
                            <li>و نیز …</li>
                        </ul>
                    </article>
                </main>
            </div>
        </div>
    </div>
</section>
@code {

}