@page "/"
@inherits IndexBase

<section class="hero min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">باشگاه مشتریان الماس</h1>
            <p class="py-6">تحت نظارت گروه مشاورین برتر جوان</p>
        </div>
    </div>
</section>

<section class="flex justify-evenly px-52 py-14 bg-base-200">
    <a href="/Shops" class="btn btn-outline w-24 h-24">
        <UserGroupIcon class="w-10 h-10"></UserGroupIcon>
        بیمه
    </a>
    <a href="/Shops" class="btn btn-outline w-24 h-24">
        <AcademicCapIcon class="w-10 h-10"></AcademicCapIcon>
        آموزش
    </a>
    <a href="/Shops" class="btn btn-outline w-24 h-24">
        <WrenchIcon class="w-10 h-10"></WrenchIcon>
        خدمات
    </a>
    <a href="/Shops" class="btn btn-outline w-24 h-24">
        <GiftIcon class="w-10 h-10"></GiftIcon>
        محصولات
    </a>
</section>

<section class="px-10">
    @if (Shops is null)
    {
        <DisplaySpinner/>
    }
    else
    {
        <div class="text-center py-20 ">
            <h2 class="text-2xl font-bold">برترین فروشگاه ها</h2>
        </div>
        <div class="m-auto grid grid-cols-3 gap-3">
            @foreach (var shop in Shops)
            {
                <ShopItem Shop="shop"/>

            }
        </div>
    }
</section>
