@page "/Shops/{Id:int}"
@inherits ShopBase
<section class="pt-20 px-20">
    @if (Shop is null)
    {
        <DisplaySpinner/>
    }
    else
    {
        <article class="prose prose-neutral prose-img:rounded-xl max-w-none">
            <img src="@Shop.Image" alt="main">
            <h1>@Shop.Title</h1>
            <p>
                @Shop.Description
            </p>
            <!-- ... -->
        </article>
    }
</section>
