@page "/Shops"
<section class="px-10">
    <div class="text-center py-20 ">
        <h2 class="text-2xl font-bold">فروشگاه ها</h2>
    </div>
    <div class="m-auto grid grid-cols-3 gap-3">
        <ShopItem/>
    </div>
</section>

@code {
    
}